# Python
*.pyc
*.pyo
*.pyd
__pycache__
*.so
*.dylib

# Virtual Environment
venv/
env/
.venv/
.env/

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__
db.sqlite3

# VSCode settings (if using VSCode)
.vscode/

# MacOS
.DS_Store

# Windows
Thumbs.db

# Environment files
# *.env
*.env.*
